.company-list{
  margin:0 0 50px 0;
  font-family: Roboto;
  position:relative;
  .close{
    position: absolute;
    right: 0;
    top: -20px;
    cursor:pointer;
  }
  .title{
    font-family: roboto;
    font-size: 18px;
    margin: 0;
  }
  .paragraph{
    font-size: 15px;
    margin: 0 0 15px 0;
  }
}