body{
  background-color:black;
}
.simpleInput-label{
  position:relative;
  font-family: roboto;
      .title{
        padding:3px 0 0 10px;
        position:absolute;
        font-size:13px;
      }
      .simpleInput{
        padding: 15px 10px 0px 10px;
        height: 50px;
        font-size: 13px;
        background-color:#fafafa;
      }
}
.row{
  font-family:roboto;
  h2.mainTitle{
    font-size:23px;
  }
  p.mainP{
    font-size:13px;
    margin:0 0 25px 0;
  }
}